<a href="https://colab.research.google.com/github/18K41A0479/Assignment-1/blob/master/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d=int(input("Distance to be travel:"))
w=int(input("Weight of the goods:"))
if d>=500:
  if w>=100:
    cost=5*d
  elif w>=10 and w<100:
    cost=6*d
  else:
    cost=7*d 
else:
  if w>=100:
    cost=8*d
  else:
    cost=5*d  
print("Amount to be charged:",cost)

Distance to be travel:505
Weight of the goods:7
Amount to be charged: 3535

In [3]:
k=["Stalls","Circle","UpperClass","box"]
s=input("Type of seat:")
pm=input("Payment mode:")
p="cash"
if pm==p:
  if s in k[0]:
    d=625*(0.1)
    c=625-d
  elif s in k[1]:
    d=750*(0.1)
    c=750-d
  elif s in k[2]:
    d=850*(0.1)
    c=850-d
  else:
    d=1000*(0.1)
    c=1000-d
else:
  if s in k[0]:
    d=625*(0.05)
    c=625-d
  elif s in k[1]:
    d=750*(0.05)
    c=750-d
  elif s in k[2]:
    d=850*(0.05)
    c=850-d
  else:
    d=1000*(0.05)
    c=1000-d
print(c)

Type of seat:UpperClass
Payment mode:cash
765.0

In [4]:

mass=int(input("Enter Amount of water:"))
q=mass*(100-0)*4184
print("Energy:",q)

Enter Amount of water:7
Energy: 2928800

In [6]:
mon=input("Enter the month:")
win=["December","January","February"]
spr=["March","April","May"]
sum=["June","July","August"]
aut=["September","October","november"]
if mon in win:
  print("Winter")
if mon in spr:
  print("Spring")
elif mon in sum:
  print("Summer")
elif mon in aut:
  print("Autumn")

Enter the month:March
Spring

In [9]:
weight=float(input("Enter the weight:"))
height=float(input("Enter the height:"))
weight=weight*0.45359237
height=height*0.0254
b=weight/(height**2)
if b<18.5:
  print("Underweight")
elif b>=18.5 and b<25.0:
  print("Normal")
elif b>=25.0 and b<30.0:
  print("Overweight")
else:
  print("Obese") 
print("BMI is:",b)

Enter the weight:150
Enter the height:59
Obese
BMI is: 30.296017508151078

In [10]:
n=int(input("Enter number between 100 and 1000:"))
r=0
sum=0
if(n>=100 and n<=1000):
    while n > 0:
      r=n%10
      sum=sum+r
      n=n//10
print("Sum of all digits in the integer:",sum)

Enter number between 100 and 1000:132
Sum of all digits in the integer: 6

In [11]:
for n in range(1,1001):
  temp=n
  rev=0
  if(n>=1 and n<=1000):
    while temp > 0:
      r=temp%10
      rev=(rev*10)+r
      temp=temp//10
    if n==rev:  
      print(n ,end=' ')

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [16]:
#Armstrong numbers between 1 to 1000
for n in range(1,1001):
  s=0
  temp=n
  while temp>0:
    digit=temp%10
    s+=digit**3
    temp//=10
  if n==s:
    print(n,end=" ")

1 153 370 371 407

In [17]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("Fizz buzz")
  elif i%5==0:
    print("buzz")
  elif i%3==0:
    print("fizz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
Fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
Fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
Fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
Fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
Fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
Fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [20]:
height=int(input("height:"))
u=int(input("u:"))
d=int(input("d:"))
y=0
while (u-d)*y <=(height-u):
    y=y+1
print(y+1)

height:200
u:50
d:1
5

In [21]:
year=int(input("Enter the year:"))
yr=year%12
z={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(z[yr])

Enter the year:2001
snake